<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MetadataEditor.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MetadataEditor.My.MySettings.metadataConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\metadata.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <MetadataEditor.My.MySettings>
            <setting name="DictionaryFile" serializeAs="String">
                <value>en-US.dic</value>
            </setting>
            <setting name="DictionaryFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableUserFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserFile" serializeAs="String">
                <value>user.dic</value>
            </setting>
            <setting name="HHPath" serializeAs="String">
                <value>c:\windows</value>
            </setting>
            <setting name="ValidationTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ValidationEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SyncAttrInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncOnlink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncProcSteps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncCSI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncExtent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedTabIndexSync" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FindString" serializeAs="String">
                <value />
            </setting>
            <setting name="ReplaceString" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedTabIndexKeywords" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedTabIndexEntityAttr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ViewValidationResultsInEME" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewValidationResultsInBrowser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MdbFilepathname" serializeAs="String">
                <value>FulllyQualifiedPathnameOfYourMdbFileHere</value>
            </setting>
            <setting name="EditorFormOpacityOnResize" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="WipeEsriTagsOnSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CommonEditorAbbreviation" serializeAs="String">
                <value>MME</value>
            </setting>
            <setting name="CommonAgencyAbbreviation" serializeAs="String">
                <value>Mn</value>
            </setting>
            <setting name="AgencyValidationEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReleaseNo" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="RetainPublishedDocID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ValidationURL" serializeAs="String">
                <value />
            </setting>
        </MetadataEditor.My.MySettings>
    </userSettings>
</configuration>
